<div id="top" class="fixed">
  <div class="wrapper clearfix">
    <nav class="top-bar-section clearfix">
      <ul class="left clearfix">
        <li class="show-mobile">
          <a href="#sidebar" class="icon i-mobile-menu"> </a>
        </li>
        <%= link_to (t "framgia_food_and_drinks"), root_path, id: "logo" %>
        <li class="item01 home hide-mobile">
          <a href="<%= products_path %>" class="">
            <i></i>
          </a>
        </li>
        <li class="item02 has-sub hide-mobile">
          <a href="#">
            Menu
            <span class="arr"></span>
          </a>
          <div id="hidden-sub">
            <div class="wrapper">
              <ul class="sub-nav">
                <% @categories.each do |category| %>
                  <li>
                    <a href="<%= products_path(@product, category_id_eq: category.id) %>">
                      <span class="thumb">
                        <%= image_tag category.image.url.nil? ? "no_image.png" : category
                  .image %>
                      </span>
                      <span class="shadow">
                        <%= image_tag "s01.png", alt: "s01" %>
                      </span>
                      <span class="text"><%= category.title_name %></span>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li class="item03 hide-mobile">
          <a href="#">
            <%= t ".order" %>
          </a>
        </li>
        <li class="item04 hide-mobile">
          <a href="#">
            <%= t ".promotion" %>
          </a>
        </li>
        <li class="item05 hide-mobile">
          <a href="#">
            <%= t ".store" %>
          </a>
        </li>
        <li class="item05 hide-mobile">
          <a href="#">
            <%= t ".franchising" %>
          </a>
        </li>
        <li class="item07 cart">
          <a href="#" class="">
            <i></i>
            <span class="cartNumber">0</span>
          </a>
        </li>
        <% if user_signed_in? %>
          <% if current_user.role == "admin" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "Manage" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Products", admin_products_path %></li>
                <li><%= link_to "Categories", admin_categories_path %></li>
                <li><%= link_to "Order", "#" %></li>
              </ul>
            </li>
          <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t".account" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".settings"), edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to (t ".login"),  new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
